@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

article{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

article.active{
    filter: blur(20px);
    -webkit-filter: blur(20px);
    pointer-events: none;
    user-select: none;
    transition: 0.8s ease;
}

::-webkit-scrollbar{
    width: 10px;
    background-color:transparent;
    height: 8px;
}

::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #a6a6a6;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-track{
    border-radius: 10px;
    background-color: white;
}

#buffer{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0,0,0,0.30);
    background: #fff;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: 0.8s 1s ease;
    text-align: center;
    border-radius: 13px;
}

#buffer.active{
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.8s 1s ease;
}

#buffer h3 {
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 2rem;
    color: #111;
}

#buffer .spinner{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    display: inline-block;
    border: 4px solid #00c3ff60;
    margin-bottom: 2rem;
    border-top-color: #00c2ff;
    animation: spin 1s infinite ease-in-out;
}

@keyframes spin{
    to{
        transform: rotate(360deg);
    }
}


.dots > div{
    width: 3rem;
    height: 3rem;
    background-color: #00c2ff;
    border-radius: 50%;
    display: inline-block;
    animation: bounce 1.5s infinite ease-in-out both;
}

.dots .bounce{
    animation-delay: -0.30s;
}

.dots .bounce2{
    animation-delay: -0.15s;
}

@keyframes bounce{
    0% , 80% , 100%{
        transform: scale(0);
    }
    40%{
        transform: scale(1);
    }
}


.container{
    text-align: center;
    padding: 15px 25px;
}

header{
    display: flex;
    justify-content: space-between;
}

.dev-logo{
    width: 40px;
    height: 40px;
}

.hide-desktop{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.hide-mobile{
    display: none;
}

.main-menu{
    width: 40px;
    margin-bottom: 45%;
}

ul{
    list-style-type:none;
    margin:0;
    padding:0;
    
}

nav ul{
    position: fixed;
    width: 60%;
    top: 0;
    right: 0;
    text-align: left;
    background: rgb(36,41,44);
    height: 100%;
    z-index: 7;
    padding-top: 3em;
}

nav ul li a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 1em 2em;
    background-color: rgb(49,55,59);
    line-height: 50px;
    font-size: 18px;
}


nav ul li a:hover{
    background-color: rgb(65,73,78);
}

.exit-btn{
    margin-top: -2.8em;
    text-align: right;
    padding: 0 1.4em;
}


nav ul li:first-child a{
    display: flex;
    justify-content: flex-end;
    background-color: rgb(36,41,44);
    margin-right: -2.5rem;
    font-size: 25px;
    height:20px;
    border: 0;
}


.title{
    position: relative;
    width: 100%;
    height: 480px;
}
.title center{
    position: relative;
    top: 15%;
}
.logo{
    position: relative;
    width: 20%;
    height: 140px;
    margin: 0.1em auto 2em auto;
}

.logo img{
    width: 150px;
    height: 150px;

}

.title h2{
    letter-spacing: 0.1em;
    text-align: center;
    font-size:35pt;
}

.title p{
    margin-top: 25px;
    font-size: 17pt;
}


.blue-container{
    width: 100%;
    background: #00c2ff;
    padding: 2em 0 3em;
    transform: skewY(-2deg);
    border-top-left-radius: 40px;
}

.blue-container:before{
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    background: #00c2ff;
    top: -39px;
    right: 0;
    z-index: -2;
}

.blue-container:after{
    content: "";
    width: 80px;
    height: 80px;
    position: absolute;
    background: #fff;
    border-radius: 50%;
    top: -80px;
    right: 0;
    z-index: -1;
}

.blue-container .categories{
    width: 100%;
    height: 60%;
    margin: 0;
    transform: skewY(2deg);
    color: #fff;
}

.blue-container .categories ul{
    list-style: none;
    display: flex;
}

.blue-container .categories ul li{
    margin:0;
    display: inline-block;
    position: relative;
    width: 33.33%;
    height: auto;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    padding: 40px 30px 40px 30px;
    border-radius: 10px;
}

.blue-container .categories ul li div{
    position: relative;
    display: block;
    width: 45%;
    height: 78px;
    margin: 1em auto;
    padding:0;
}

.blue-container .categories ul li div svg{
    width: 110px;
    height: 110px;
}

.blue-container .categories ul li:hover div svg{
    animation: categoryFx 1s infinite ease alternate;
}

.blue-container .categories ul li:hover{
    animation: borderFx 0.5s forwards ease;
}

@keyframes borderFx{
    from {
        box-shadow: none;
        transform: scale(1);

    }
    to{ 
        box-shadow: 0 12px 8px 0 rgba(0,0,0,0.16);
        -webkit-box-shadow: 0 12px 8px 0 rgba(0,0,0,0.16);
        z-index: 1;
        transform: scale(1.10);
    }
}

@keyframes categoryFx{
    from{
        transform: scale(0.9);
    }
    to{
        transform: scale(1.10);
        
    }
}

.categories p{
    line-height: 1.5em;
    margin-top: 10px;
}


figure{
    margin: 0;
    padding: 15px;
}

figcaption{
    font-size: 1em;
    margin: 15px;
}

blockquote{
    font-size: 1.3em;
    line-height: 1.6em;
    font-weight: 500;
}

.gray-container{
    display: flex;
    background: #f6f6f6;
    padding: 4em 0 2em;
    margin-top: -3%;
}

.gray-container ul li{
    float: left;
    width: 33.33%;
    height: auto;
}

.gray-container ul{
    text-align: center;
}
.gray-container ul h3{
    text-align: center;
    font-size: 30px;
}
.gray-container ul li img{
    width: 140px;
    height: 140px;
    border-radius: 100%;
    margin: 15px;
}

.gray-container ul li img:hover{
    animation: borderFx 0.5s forwards ease;
}

.footer{
    display: block;
    width: 100%;
}

.footer-container{
    width: 100%;
    background: #3d444a;
    color: #fff;
    padding: 3em 0;
    border-top-right-radius: 40px;
    transform: skewY(2deg);
    height: 170px;
}

.footer-container:before{
    content: "";
    width: 40px;
    height: 40px;
    background: #3d444a;
    position: absolute;
    top: -39px;
    left:0;
    z-index: -2;
}

.footer-container:after{
    content: "";
    width: 80px;
    height: 80px;
    background: #f6f6f6;
    position: absolute;
    z-index: -1;
    top: -80px;
    left: 0;
    border-radius: 50%;
}

.footer-container .container{
    transform: skewY(-2deg);
}

a.logo_link{
    display: flex;
    text-decoration: none;
    font-size: 14pt;
    font-family: 'Montserrat',sans-serif;
    color: #00c2ff;
    justify-content: center;
    align-items: center;
}

a.logo_link span{
    margin-left: 10px;
}

.address{
    margin-top: 1.2em;
}

ul.footer-links{
    margin: 1.2em auto;
}

ul.footer-links li{
    display: inline-block;
}

ul.footer-links li:first-child{
    margin-right: 1.2em;
}

ul.footer-links li a{
    color: #9d9d9d;
    font-size: .8em;
}

@media only screen and (min-width: 650px){
    nav ul{
        width: 40%;
    }
    
    nav ul li i{
        margin-right: 1.3rem;
        font-size: 21px;
    }

    nav ul li a{
        border-top: 2px solid rgb(255,255,255,0.1);
        border-bottom: 2px solid rgb(36,41,44);
    }
}

@media only screen and (min-width: 875px){
    nav ul{
        width: 40%;
    }
    
    nav ul li i{
        margin-right: 1.3rem;
        font-size: 21px;
    }

    nav ul li a{
        border-top: 2px solid rgb(255,255,255,0.1);
        border-bottom: 2px solid rgb(36,41,44);
    }
}

@media only screen and (min-width: 1024px){
    .container{
        width: 80%;
        margin: 0 auto;
    }

    .show-desktop{
        display: block;
        margin: 0 auto 13% auto;
    }

    .hide-desktop{
        display: none;
    }

    nav ul{
        position: inherit;
        width: auto;
        background: none;
        height: auto;
        display: flex;
        padding-top: 0;
    }

    nav ul li{
        float: left;
    }

    nav ul li a{
        color: black;
        background-color: inherit;
        text-align: right;
        padding: 1em 2em;
        border: 0;
        margin-top: 5px;
        margin-left: -47px;
    }

    nav ul li:nth-child(2)::before{
        content: "";
        position: absolute;
        width: 65px;
        height: 5px;
        top: 76px;
        margin-left: 1.7rem;
        border-radius: 5px;
        background: rgba(16, 115, 245, 0.87);
        transform-origin:center;
        animation: barFx 0.4s ease forwards;
    }

    nav ul li:nth-child(3):hover::before{
        content: "";
        position: absolute;
        width: 80px;
        height: 5px;
        top: 76px;
        margin-left: 1.7rem;
        border-radius: 5px;
        background: rgba(16, 115, 245, 0.87);
        transform-origin: center;
        animation: barFx 0.4s ease forwards;
    }

    nav ul li:nth-child(4):hover::before{
        content: "";
        position:absolute;
        width: 62px;
        height: 5px;
        top: 76px;
        margin-left: 1.7rem;
        border-radius: 5px;
        background: rgba(16,115,245,0.87);
        transform-origin: center;
        animation:barFx 0.4s ease forwards;
    }

    nav ul li:nth-child(5):hover::before{
        content: "";
        position: absolute;
        width: 77px;
        height: 5px;
        top: 76px;
        margin-left: 1.7rem;
        border-radius: 5px;
        background: rgba(16,115,245,0.87);
        transform-origin: center;
        animation: barFx 0.4s ease forwards;
    }

    @keyframes barFx{
        from{
            transform: scale(0);
        }
        to{
            transform:scale(1);
        }
    }

    nav ul li a:hover{
        background-color: inherit;
    }

    .title{
        height: 670px;
    }

    div.logo{
        width: 23%;
        height: 240px;
        margin: 0.1em auto 1em auto;
    }

    .logo img{
        width: 210px;
        height: 210px;
    }

    .container .categories ul li div{
        width: 32%;
        height: 95px;
    }

    nav ul li i{
        opacity: 0;
    }

    footer #social-media-footer a .fa-facebook,
footer #social-media-footer a .fa-twitter,
footer #social-media-footer a .fa-instagram,
footer #social-media-footer a .fa-youtube{
    color:white;
    transition: 0.5s;
}

footer #social-media-footer ul{
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
}

footer #social-media-footer ul li{
    font-size: 48px;
    padding: 16px;
    transition: 0.4s;
}

footer #social-media-footer ul li:hover a .fa-youtube{
    color: red;
    z-index: 1;
    transform: scale(1.10);
    box-shadow: 0 25px 40px rgba(0,0,0,.5);
}


footer #social-media-footer ul li:hover a .fa-facebook{
    color: #3b5998;
    z-index: 1;
    transform: scale(1.10);
    box-shadow: 0 25px 40px rgba(0,0,0,.5);
}

footer #social-media-footer ul li:hover a .fa-twitter{
    color: #1DA1F2;
    z-index: 1;
    transform: scale(1.10);
    box-shadow: 0 25px 40px rgba(0,0,0,.5);
}

footer #social-media-footer ul li:hover a .fa-instagram{
    color: lightpink;
    z-index: 1;
    transform: scale(1.10);
    box-shadow: 0 25px 40px rgba(0,0,0,.5);
}


}
